body {
    font-family: "Sarabun",sans-serif !important;
}

@font-face {
    font-family: "Sarabun";
    src: url("../fonts/Sarabun-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: "Sarabun";
    src: url("../fonts/Sarabun-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  @font-face {
    font-family: "Sarabun";
    src: url("../fonts/Sarabun-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Sarabun",sans-serif !important;
}
  @font-face {
    font-family: "Sarabun";
    src: url("../fonts/Sarabun-Bold.ttf") format("truetype");
    font-weight: 700;
  }

p {
    margin-bottom: 12px !important;
}
.wy-grid-for-nav .wy-nav-content-wrap .wy-nav-content {
  max-width: 1024px !important;
}
.wy-side-nav-search {
  background-color: #ED2F4A;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption{
  color: #EC2635;
}
.wy-nav-side {
  background: #474343;
}
.wy-nav-top {
  background: #2196F3;
}
/* .wy-menu-vertical header, .wy-menu-vertical p.caption{
  color: #EC2635;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #EC2635;
} */

/* div.rst-content > div:first-child {
  display: none;
} */
/* 
.rst-content img {
  object-fit: none;
} */
